.Omschrijving{
    background-image: url(Untitled-2.png);
    text-align: center;
    border: cyan;
}

.sHeader{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(11, 11, 219, 0.726);
  margin-right: 400px;
  margin-left: 400px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

.Footer{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(11, 11, 219, 0.726);
  margin-right: 400px;
  margin-left: 400px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  position: fixed;

}

.Basetexts{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.links{
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
}
a{
    color: hotpink;
}

.stonehead{
  text-align: left;
}

a:link {
  color: red;
  text-decoration: none;
  background-color: rgb(0, 49, 105);
  padding: 20px;
  margin: 20px;
}

a:visited {
  color: rgb(171, 182, 21);
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
  background-color: blue;
}

a:active {
  color: blue;
  text-decoration: underline;
}
body{
  background-image: url(Untitled-1.png);
}

.Cheat{
  background-color:rgb(28, 114, 184);
  text-align: center;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
}

.Cheat2{
  background-color:rgb(28, 114, 184);
  text-align: center;
  padding: 5px;
  margin: 20px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.indexlinks{
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
